.container {
    margin: 0;
    padding: 0 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #261FB3;
}

.title {
    color: white;
    font-family: 'Alexandria', sans-serif;
    letter-spacing: 0.4rem;
}

.nav-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
} 

.nav-button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    border-radius: .5rem;
    margin: 0 .5rem;
    transition: 0.08s;
}

.nav-button:hover {
    box-shadow: 0 0 .4rem .2rem rgba(0, 0, 0, 0.4);
    scale: 1.05;
}

.nav-button:active {
    box-shadow: inset 0 0 .4rem .1rem rgba(0, 0, 0, 0.4);
}