.container {
    margin: 0;
    padding: 0 1.5rem 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #FFEAC5;
}

.title {
    color: #6C4E31;
    font-family: 'Alexandria', sans-serif;
    letter-spacing: 0.4rem;
}

.nav-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
} 

.nav-button {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    transition: 0.05s;
}

.nav-button:hover {
    border-bottom: solid 2px #6C4E31;
}

.header-divider {
    height: 100%;
    background-color: #6C4E31;
    width: 2px;
    border-radius: .5rem;
}