span {
    font-size: 2.5rem;
    font-family: "Courier Prime", monospace;
    color: greenyellow;
}

.text-wrap {
    border: 3px solid greenyellow;
    padding: 30px;
    border-radius: 20px;
    background-color: linear-gradient(90deg, red, greenyellow);
}