
.container {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
    width: 70px;
    z-index: 10;
    background-color: black;
    opacity: var(--sidebar-opacity-collapsed);
    transition: var(--sidebar-transition-speed) ease-in-out;
}

.container.expanded {
    width: 200px;    
    opacity: var(--sidebar-opacity-hover);  
}

.title {
    color: white;
    font-family: 'Alexandria', sans-serif;
    letter-spacing: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.2rem;
    transition: var(--sidebar-transition-speed);
    text-wrap: nowrap;
    opacity: 0;
}

.sub-title {
    color: white;
    font-family: 'Alexandria', sans-serif;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    transition: var(--sidebar-transition-speed);
    text-wrap: nowrap;
    opacity: 0;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.nav-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    height: 25%;
}

.nav-button-text {
    color: white;
    font-size: 18px;
    opacity: 0;
    text-wrap: nowrap;
    opacity: 0;
    margin-left: 0;
    width: 0;
    transition: var(--sidebar-transition-speed);
}

.nav-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: transparent;
    border: none;
    border-bottom: transparent solid;
    width: 100%;
    padding: .5rem;
    margin: 0;
    opacity: .70;
    transition: var(--sidebar-transition-speed);
}

.nav-button:hover {
    border-bottom: white solid;
}

.container.expanded .sub-title,
.container.expanded .title,
.container.expanded .nav-button {
    opacity: 1;  
}

.container.expanded .nav-button-text {
    opacity: 1;
    margin-left: 1rem;
    width: auto;
}