@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300&family=Kanit:wght@300&?family=Courier+Prime&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

:root {
    --sidebar-transition-speed: 0.15s;
    --sidebar-opacity-collapsed: 1;
    --sidebar-opacity-hover: 1;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Alexandria', sans-serif;
}

p {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
}
