.eye-cather {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url("/mountain.jpg");
}

.eye-cather h1 {
    margin: 0;
    padding: 0;
    position: relative;
    left: 5vw;
    top: 65vh;
    color: white;
    font-size: 5rem;
    font-family: 'Alexandria', sans-serif;
}